<div
  class="container-fluid d-flex flex-column align-items-center justify-content-center m-4"
>
  <app-color-card
    [cardText]="'Primary'"
    class="card-width"
  ></app-color-card>

  <app-color-card
    [cardColor]="'secondary'"
    [cardText]="'Secondary'"
    class="card-width"
  ></app-color-card>

  <app-color-card
    [cardColor]="'tertiary'"
    [cardText]="'Tertiary'"
    class="card-width"
  ></app-color-card>

  <app-color-card
    [cardColor]="'my-color-asdf'"
    [cardText]="'My Color'"
    class="card-width"
  ></app-color-card>

  <div class="card-width d-flex flex-row justify-content-evenly mt-1">
    <app-counter></app-counter>
    <app-counter></app-counter>
  </div>
</div>

<router-outlet></router-outlet>
